* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background: url('background.jpeg') no-repeat center center fixed;
  background-size: cover;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game {
  position: relative;
  display: inline-grid;
  background: #351948;
  opacity: 0.8;
}

.game-status {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 2px #453573 solid;
  background: #000000;
  color: #d58fbb;
  font-size: 1.5rem;
}

#score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 2px #e8b7d9 solid;
  border-radius: 5em;
  background: #130f12;
  opacity: .6;
  margin-top: 20px;
  color: white;
  font-size: 2rem;
}

#start-button {
  margin-top: 20px;
  border-radius: 2em;
  background-color: #cd9cbd;
}

.hide {
  display: none;
}

.square {
  display: block;
}

.blank {
  background: #351948;
}

.wall {
  border: 1px solid #8b8bb3;
  background-color: #1d0e28;

}

.dot {
  background: white;
  border: 8px solid #351948;
  border-radius: 50%;
}

.pill {
  background: #e69a01;
  border: 5px solid #351948;
  border-radius: 50%;
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: #0e0210;
  border-radius: 50%;
  right: 3px;
  top: 5px;
  border: 2px solid white;
}

.scared {
  background: #4a9084 !important;
}

.blinky {
  background: #c97575;
}

.pinky {
  background: #ffc0cb;
}

.inky {
  background: #ac83c9;
}

.clyde {
  background: #d4b343;
}

.pacman {
  background: #ffbd10;
  border: none;
  border-radius: 50%;
  clip-path: polygon(
    0 0,
    20px 0,
    20px -5px,
    8px 10px,
    20px 25px,
    20px 20px,
    0 20px
  );
  animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      20px 0,
      20px 10px,
      8px 10px,
      20px 10px,
      20px 20px,
      0 20px
    );
  }
}
